[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
hyperopt = "*"
xgboost = "*"
typer = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
train = "pipenv run python src/train.py"
predict = "pipenv run python src/predict.py"
