[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
hyperopt = "*"
xgboost = "*"
typer = {extras = ["all"], version = "*"}
pandas = "*"
matplotlib = "*"
seaborn = "*"
mlflow = "*"
tld = "*"
dnspython = "*"
ipwhois = "*"
googlesearch-python = "*"
colorlog = "*"
fastapi = "*"
streamlit = "*"
uvicorn = "*"
utils = "*"
art = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
train = "pipenv run python src/train.py"
predict = "pipenv run python src/predict.py"
features = "pipenv run python src/utils/features.py"
tracking = "pipenv run mlflow ui --host 0.0.0.0"
endpoint = "pipenv run uvicorn src.api.endpoint:app --host 0.0.0.0 --port 5555"
